[user]
pinned=/usr/share/applications/vivaldi-stable.desktop;/usr/share/applications/thunar.desktop;/usr/share/applications/xfce4-terminal.desktop;/usr/share/applications/discord.desktop;/usr/share/applications/slack.desktop;/usr/share/applications/vlc.desktop;/home/lordryu/.local/share/applications/Aseprite.desktop;/usr/share/applications/libreoffice-writer.desktop;/usr/share/applications/libreoffice-calc.desktop;/usr/share/applications/libreoffice-impress.desktop;
